.main-title {
    margin-bottom: 50px;
}

.start-btn {
    width: 200px;
    height: 70px;
    background-color: transparent;
    border: 1px solid white;
    transition: .4s;
    font-size: 24px;
}

.start-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: black;
}